/* @dev  saeed barcha */
/* @file Decorate.jsx */


/* @tag --Container */
.decorateHome{
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
}

/* @tag --Container/h1*/
.decorateHome .titleDecorateHome {
  color: var(--mainBgColor);
  font-size: 50px;
  text-align: center;
  text-decoration-line: underline;
}

/* @tag --Container/Row1/Col1/image */
.sideImage{
  width: 550px;
  display: block;
  opacity: 0.7;
  height: 350px;
}

/* @tag --Container/Row1/Col1/div */
.threeImageCont{
  padding-left: 60px;
  display: flex;
  min-height: 110px;
  justify-content: space-around; 
  margin-top: -30px;
  }

/* @tag --Container/Row1/Col1/div/img */
.threeImageCont .threeImage{
  width: 110px;
  height: 110px;
  border-radius: 18px;
  border:5px solid #f4f5f7;
  transform: rotate(45deg);
  transform-origin: top center;
  transition: transform 0.6s;
}

/* @tag --Container/Row1/Col1/div/img */
.threeImageCont .threeImage:hover{
  border:5px solid var(--mainBgColor);
  opacity: .8;
  transform: scale(1.0);
}

/* @tag --Container/Row1/Col2/Row/Col/div */
.decorateCardCont {
  height: 160px;
  width: 190px;
  text-align: center;
  background: #f8f9fa;
  border-radius: 5%;
  padding: 10px;
  transition: transform 0.8s;
  /* border: 1px solid  #; */
  box-shadow: 0 4px 8px rgba(12, 12, 12, 0.1); 
}

/* @tag --Container/Row1/Col2/Row/Col/div */
.decorateCardCont:hover {
  background: #f4f5f7;
  cursor: pointer;
  transform: scale(1.1);
}

/* @tag --Container/Row1/Col2/Row/Col/div/div */
.decorateHome .iconCont {
  width: 70px;
  height: 70px;
  border-radius: 5%;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @tag --Container/Row1/Col2/Row/Col/div/h4 */
.decorateCardHeading {
  text-align: center;
  /* color: var(--mainThemeColor); */
  color: var(--mainBgColor);
  height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* @tag --Container/Row2/Col/image */
.sameImagesDecorate{
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 5%;
  border: 2px solid var(--mainThemeColor);
  transition: transform 0.8s;
}

/* @tag --Container/Row2/Col/image */
.sameImagesDecorate:hover{
  opacity: 0.8;
  transform: scale(1.03);
}



/*---------media query-----------*/
@media screen and (max-width: 992px) {

  /* @tag --Container */
.decorateHome{
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}

/* @tag --Container/h1*/
.decorateHome .titleDecorateHome {
  font-size: 30px;
}

/* @tag --Container/Row1/Col1/div */
.threeImageCont{
  padding-left: 0px;
  display: flex;
  justify-content: space-around; 
  margin-top: -30px;
  }

/* @tag --Container/Row1/Col1/div/image */
.threeImageCont .threeImage{
  width: 90px;
  height: 90px;
  border-radius: 18px;
  border:5px solid #f4f5f7;
  transform: rotate(0deg);
  transform-origin: top center;
  transition: transform 0.6s;
  
}

/* @tag --Container/Row1/Col1/div/image */
.threeImageCont .threeImage:hover{  
  transform: scale(1.1);
}

/* @tag --Container/Row1/Col2/Row/Col/div */
.decorateCardCont {
 margin-top: 25px;
}


}